.App {
  text-align: center;
  background-color: #ddd;
  min-height: 1006px;

}

.main {
  width: 100%;
  min-height: 915px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.App-header {
  background-color: #E62117;
  background-image: url("https://images5.aplus.com/uc-up/69258b2e-35b9-4bc2-9104-fac9551c5a90/69258b2e-35b9-4bc2-9104-fac9551c5a90.inline_yes");
  /* url("http://31.media.tumblr.com/f3fdc36e1971412daa09b032b78b2ef8/tumblr_nvvar3J1KW1tq9q5vo1_400.gif"); */
  height: 200px;
  padding: 20px;
  color: white;
  width: 100%;
}

/* .main {
  height: 800px
} */

div {
  display: block;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-link {
  text-decoration: none;
  color: white;
  background: #E62117;
}

.login {
  margin-top: 80px;
}

#pic {
  width: 100px;
  height: 100px
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ------------------------------------------------------------------------ */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #E62117;
}
.danger-text {
    color: #ff3547; }
.default-text {
    color: #E62117;
}
.info-text {
    color: #E62117;
}

.card-style {
  padding: 5;
}

.img-style {
  align-self: center;
  height: 360px;
  width: 480px
}

.title-style {
  font-size: 20px;
  margin-bottom: 5px
}

.chanel-style {
  font-size: 12px;
  margin-bottom: 5px;
  color: #777;
  align-self: flex-end;
}

.description-style {
  font-size: 11px;
  align-self: center;

}

.button {
  background-color: #E62117;
}
